@import "./../../../../assets/fonts/font-awesome-4.7.0/css/font-awesome.css";
 /*input.ng-pristine {
    border-color:black;
}
*/
input.ng-touched.ng-invalid {
    border-color:red;
}

/*input.ng-touched.ng-valid {
    border-color:green;
}*/
.error {
color:red
}
.ng-select .ng-select-container {
    cursor: default;
    display: flex;
    outline: 0;
    overflow: hidden;
    top: -6px;
    left: -13px;
    position: relative;
    width: 100%;
}
  