
<section class="content-header">

    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Liste des client</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a  [routerLink]="['/contact/home']" >contact</a></li>
            <li class="breadcrumb-item active">clients</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
 
  <app-statistique></app-statistique>
  
  <section class="content-header">
    <div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">contacts</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <app-loading-data *ngIf="loading"></app-loading-data>
        <div class="card-body table-responsive p-0" >
          <table class="table text-nowrap">
            <thead>
              <tr >
                <th>Nom</th>
                <th>Sexe</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Type</th>
                <th>Niveau</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="!loading">
              <tr  *ngFor="let doc of all_client.docs | paginate: { itemsPerPage: all_client.limit, currentPage: all_client.page,totalItems:all_client.total};let i = index ">
                
                <td>{{doc.first_name}}</td>
                <th>{{doc.sexe}}</th>
                <td>{{doc.tel}}</td>
                <td>{{doc.email}}</td>
                <td>{{doc.type}}</td>
                <td>{{doc.niveau}}</td>
                <td>

                 
        
                    <div class="btn-group btn-group-sm">
                      <a class="btn btn-info" [routerLink]="['/contact/organisation/',doc._id]"><i class="fas fa-eye"></i></a>
                      <a  class="btn btn-dark" [routerLink]="['/contact/sendmailer']"><i class="fas fa-envelope"  style="color: red;"></i></a>
                      <a  class="btn btn-danger"><i class="fas fa-trash"></i></a>
                      <a  class="btn btn-secondary"><i class="fas fa-edit"></i></a>
                       </div>
                  
                </td>
              </tr>
             
            </tbody>
           
          </table>
        
        </div>
        <!-- /.card-body -->
        <pagination-controls (pageChange)="pageChange($event)" ></pagination-controls>
      </div>
      <!-- /.card -->
    </div>
  </div>

</div>
</section>
