<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Ajouter un organisation</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a  [routerLink]="['/contact/home']" >contact</a></li>
            <li class="breadcrumb-item active">ajouter organisation</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
<div class="card" style="padding: 30px;">
        <form [formGroup]="orgform" (ngSubmit)="onSubmit()">

          <div class="row">

            <div class="col-md-6">

              <div class="form-group">
                <label >Nom organisation :</label>
                <input  formControlName="name" class="form-control" placeholder="nom d'organisation">
              </div>
             
              <div class="form-group">
                <label > abréviation  :</label>
                <input  formControlName="abreviation"   class="form-control" placeholder="abreviation" >
              </div>
              <div class="form-group">
                <label >Description :</label>
                <textarea  formControlName="description"   class="form-control"  rows="1" placeholder="description"></textarea>
              </div>

              <div class="form-group">
                <label >Email :</label>
                <input type="email" formControlName="email" class="form-control"  placeholder=" email">
                <!--<span *ngIf="email.invalid && email.errors.required  && (email.dirty || email.touched)" class="error">
                  Ce champ est obligatoire.
                </span>
              -->
              </div>

              
              <hr>

            
               <!------------------------------------------>
              

              <!--<div class="form-group">
                <label for="inputStatus"> Type  :</label>
                      <select    formControlName="type" (change)="changetype($event)"  class="form-control custom-select" >
                      <option selected="" disabled="" >selectioner un domaine d'organisation</option>
                      <option *ngFor="let type of Type" [ngValue]="type">{{type}}</option>     
                </select>
                
               </div>
               --> 
               <div class="form-group">
                <label for="inputStatus"> Type  :</label>
                      <select    formControlName="type" (change)="changetype($event)" class="form-control custom-select" >
                      <option selected="" disabled="" >selectioner un domaine d'organisation</option>
                      <option  value="client">client</option> 
                      <option  value="fournisseur">fournisseur</option> 
                      <option  value="partenaire">partenaire</option>     
                </select>
                
               </div>
               <!------------------------------------------->
               
               <div class="form-group">
                <label for="inputStatus">Domaine de service  :</label>
                      <select    formControlName="domaine" (change)="changedomaine($event)"  class="form-control custom-select" >
                      <option selected="" disabled="" >selectioner un domaine d'organisation</option>
                      <option *ngFor="let domaine of Domaine" [ngValue]="domaine">{{domaine}}</option>     
                </select>
                
               </div>
               
              

            <!-- 
              -->
            </div>

            <div class="col-md-6">

            
          
              
            
              <div class="form-group">
                <label for="domaine">Tel :</label>
                <input type="number" min="5" formControlName="tel1" class="form-control" placeholder="(+xxx) xx xxx xxx" >
               <!-- <span *ngIf="tel1.invalid && tel1.errors.required  && (tel1.dirty || tel1.touched)" class="error">
                  Ce champ est obligatoire
              </span>
              <span *ngIf="tel1.invalid && tel1.errors.invalidNumber && (tel1.dirty || tel1.touched)">
                Ce champ est obligatoirer.
              </span>
              -->
              </div>

              <div class="form-group">
                <label >Tel :</label>
                <input type="number" min="5" formControlName="tel2"  placeholder="(+xxx) xx xxx xxx"  class="form-control" >
              </div>

              <div class="form-group">
                <label >Fax :</label>
                <input type="number" min="5" formControlName="fax"  placeholder=" xx xxx xxx" class="form-control"  >
              </div>

             
              <div class="form-group">
                <label>Pays :</label>
                <input type="text"  formControlName="pays"  placeholder="pays"  class="form-control"  >
              </div>
              <hr>
              <div class="form-group">
                <label >Ville :</label>
                <input type="text"  formControlName="ville"  placeholder="ville"  class="form-control"  >
              </div>
              <div class="form-group">
                <label >Logo</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file"  class="custom-file-input"   (change)="selectImage($event.target.files)">
                    <label class="custom-file-label"  >choisir un logo</label>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text"  (click)="sendfiletoserveur()" >telecharger</span>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
          <div class="card-footer " >
            <button  class="btn btn-danger float-right" (click)="revert()" type="reset">  Annuler</button>
             <button type="submit" class="btn btn-primary float-right" style="margin-right: 2px;" type="submit" [disabled]="orgform.invalid">
              <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin" style="position: relative;bottom: 1px;margin-right:5px;"></i> 
              Ajouter</button>
              
          </div>
        </form>

</div>
        
    </div>
    
  </section>
<p>Form value: {{ orgform.value | json }}</p>
         <!--<p>Form status: {{ orgform.status | json }}</p>-->