@import "./../../../assets/plugins/fontawesome-free/css/all.min.css";
@import "./../../../assets/dist/css/adminlte.min.css";
@import "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
@import "./../../../assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css";
@import "./../../../assets/fonts/font-awesome-4.7.0/css/font-awesome.css";

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";