<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
    
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white  navbar-light text-sm">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a   routerLink="/" class="nav-link"> Home</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a  class="nav-link">Contact</a>
          </li>
        </ul>
    
        <!-- SEARCH FORM 
        <form class="form-inline ml-3">
          <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
    -->
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <!-- Messages Dropdown Menu 
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="far fa-comments"></i>
              <span class="badge badge-danger navbar-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <a href="#" class="dropdown-item">
              
                <div class="media">
                  <img [src] ="userImage" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                  <div class="media-body">
                    <h3 class="dropdown-item-title">
                      Brad Diesel
                      <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                    </h3>
                    <p class="text-sm">Call me whenever you can...</p>
                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                  </div>
                </div>
              
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
              
                <div class="media">
                  <img [src] ="userImage" alt="User Avatar" class="img-size-50 img-circle mr-3">
                  <div class="media-body">
                    <h3 class="dropdown-item-title">
                      John Pierce
                      <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                    </h3>
                    <p class="text-sm">I got your message bro</p>
                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                  </div>
                </div>
             
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
    
                <div class="media">
                  <img [src] ="userImage" alt="User Avatar" class="img-size-50 img-circle mr-3">
                  <div class="media-body">
                    <h3 class="dropdown-item-title">
                      Nora Silvester
                      <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                    </h3>
                    <p class="text-sm">The subject goes here</p>
                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                  </div>
                </div>
            
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
            </div>
          </li>
        
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="far fa-bell"></i>
              <span class="badge badge-warning navbar-badge">15</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <span class="dropdown-header">15 Notifications</span>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-envelope mr-2"></i> 4 new messages
                <span class="float-right text-muted text-sm">3 mins</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-users mr-2"></i> 8 friend requests
                <span class="float-right text-muted text-sm">12 hours</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-file mr-2"></i> 3 new reports
                <span class="float-right text-muted text-sm">2 days</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
            </div>
          </li>
-->
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" >
          
              <span  class="text-center" >Deconnecter </span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <span class="dropdown-header"> {{currentUser.first_name|titlecase}} </span>
              <div class="dropdown-divider"></div>
           
              
              
              
              <div class="dropdown-divider"></div>
              <a (click)="logout()" role="button" class="dropdown-item dropdown-footer text-center">Deconnecter </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" ><i
                class="fas fa-th-large"></i></a>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->
    
      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary  elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
         

               <img [src] ="cheminImage" alt="justech" class="brand-image img-circle elevation-3" style="opacity: .8; background-color: white;"/>
          <span class="brand-text font-weight-light">justech.tn</span>
        </a>
    
        <!-- Sidebar -->
        <div class="sidebar" style="background-color: #33404e !important;">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img  [src] ="userImage" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
              <a class="d-block">{{currentUser.first_name|titlecase}} &nbsp;
 {{currentUser.last_name|titlecase  }}        </a>
            </div>
          </div>
    
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
              <li class="nav-item has-treeview menu-open">
                <a  class="nav-link active">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                    Organisations
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a  class="nav-link " [routerLink]="['/contact/organisation/add']">
                      &nbsp;  <i class="fas fa-plus nav-icon"></i>
                      <p>Ajouter Organisation</p>
                    </a>
                  </li>
                  <li class="nav-item" >
                    <a  class="nav-link"  [routerLink]="['/contact/organisation/all']">
                      &nbsp;<i class="fas fa-stream nav-icon"></i>
                      <p>tous les Organisations</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview ">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-edit"></i>
                  <p>
                    Formations
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview" style="display: none;">
                  <li class="nav-item">
                    <a  class="nav-link" [routerLink]="['/contact/formation/add']">
                      &nbsp;  <i class="fas fa-plus nav-icon"></i>
                      <p>Ajouter Formation</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a  class="nav-link" [routerLink]="['/contact/formation/all']">
                      &nbsp;<i class="fas fa-stream nav-icon"></i>
                      <p>tous les Formations</p>
                    </a>
                  </li>
                 
                </ul>
              </li>

               <li class="nav-item has-treeview ">
                <a href="#" class="nav-link">
                  <i class="fas fa-users-cog"></i>
                  &nbsp;
                  <p>
                    clients
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview" style="display: none;">
                  <li class="nav-item">
                    <a  class="nav-link" [routerLink]="['/contact/client/add']">
                      &nbsp;  <i class="fas fa-plus nav-icon"></i>
                       <p>Ajouter client</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a  class="nav-link" [routerLink]="['/contact/client/all']">
                      &nbsp;<i class="fas fa-stream nav-icon"></i>
                      <p>tous les clients</p>
                    </a>
                  </li>
                 
                </ul>
                
              </li>
              <li class="nav-item has-treeview ">
                <a href="#" class="nav-link">
                  <i class="fas fa-comments"></i>
                  &nbsp;
                  <p>
                    Discussion
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                </li>
                <li class="nav-item has-treeview ">
                  <a href="#" class="nav-link">
                    <i class="fas fa-sign-out-alt"></i>
                    &nbsp;
                    <p (click)="logout()">
                      Disconnexion 
                      <i class="fas fa-angle-left right"></i>
                    </p>
                  </a>
                  </li>
                
             

              
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <router-outlet></router-outlet>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
    
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
          <h5>Title</h5>
          <p>Sidebar content</p>
        </div>
      </aside>
      <!-- /.control-sidebar -->
    
      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
         <a href="">justech.tn</a>
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2020-2021 <a href="/">Justech</a>.</strong> All rights reserved.
      </footer>
    </div>
    <!-- ./wrapper -->
    

    </body>