<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Liste d'organisations</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a  [routerLink]="['/contact/home']" >contact</a></li>
            <li class="breadcrumb-item active">organisations</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <app-statistique></app-statistique>
  
  <section class="content-header">
    <div class="container-fluid">
    
      <div class="row">
        
        <div class="com-sm-12 col-md-3">
          
             <select  [formControl]="nbrpage" (change)="serach()" class="custom-select custom-select-sm form-control form-control-sm">
              <option  disabled selected>page</option> 
              <option value="10">10</option>
               <option value="25">25</option>
               <option value="50">50</option>
               <option value="75">75</option>
               <option value="100">100</option>
              </select>
        </div>
        <div class="com-sm-12 col-md-3">
              
              <select  [formControl]="orderdate" (change)="serach()" class="custom-select custom-select-sm form-control form-control-sm" >
                <option  disabled selected>trier par date</option> 
                <option value="1">croissant</option>
                <option value="-1">decroissant</option>
              </select> 
        </div>
        <div class="com-sm-12 col-md-3">
          
          <input type="date" [formControl]="date" (change)="serach()"  class="form-control form-control-sm" >

              
        </div>
        
           <div class="col-sm-12 col-md-3">
             
            <div class="input-group input-group-sm">
              <input type="text" [formControl]="textsearch" class="form-control form-control-sm float-right" (change)="serach()" placeholder="(nom,abreviation,desc....)">

              <div class="input-group-append">
                <button type="button" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        

      </div>
      <hr>
  <div class="row">
    <div class="col-12">
      <div class="card">
       
        <app-loading-data *ngIf="loading"></app-loading-data>
        <div class="card-body table-responsive p-0" >
          <table class="table text-nowrap">
            <thead>
              <tr >
                <th>N°</th>
                <th>Nom(abreviation)</th>
                <th>Type</th>
                <th>Email</th>
                <th>NBF</th>
                <th>NBC</th>
                <th>date</th>
                <th>...</th>
              </tr>
            </thead>
            <tbody *ngIf="!loading" > 
              <tr  *ngFor="let doc of all_organisation.docs | paginate: { itemsPerPage: all_organisation.limit, currentPage: all_organisation.page,totalItems:all_organisation.total};let i = index ">
                <td>{{i}}</td>
                <td><img class="img-circle img-bordered-sm" src="{{doc.logo.url}}" style="width: 40px; border-radius: 50%;" alt="user image" *ngIf="doc.logo">
                {{doc.name}} <span style="color: rebeccapurple;"*ngIf="doc.abreviation">({{doc.abreviation}})</span></td>
                <td>{{doc.type}}</td>
                <td>{{doc.email}}</td>
                <th>{{doc.formations.length}}</th>
                <th>{{doc.contacts.length}}</th>
                <th>{{doc.created_at |date: "short"}}</th>
                
                <td>


                 
        
                      <a  [routerLink]="['/contact/organisation/',doc._id]"><i class="fas fa-eye" style="color: #f012be;font-size: large;"></i></a>&nbsp;
                      <a  [routerLink]="['/contact/sendmailer']"><i class="fas fa-envelope" style="color: #007bff;font-size: large;"></i></a>&nbsp;
                      <a (click)="delete(doc._id)"><i  style="color: red;font-size: large;" class="fas fa-trash"></i>{{doc._id}}</a>&nbsp;
                      <a  [routerLink]="['/contact/organisation/'+ doc._id +'/update']"><i style="color: #28a745;font-size: large;" class="fas fa-edit"></i></a>&nbsp;
                    
                  <!-- -->
                </td>
              </tr> 
             
            </tbody>
          
          </table>
        
        </div>
        <!-- /.card-body -->
        <pagination-controls (pageChange)="pageChange($event)" ></pagination-controls>
      </div>
      <!-- /.card -->
    </div>
  </div>

</div>
</section>




  