<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Ajouter formation</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a  [routerLink]="['/contact/home']" >contact</a></li>
            <li class="breadcrumb-item active">formation</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <section class="content">
    <div class="container-fluid">
<div class="card" style="padding: 30px;">
        <form [formGroup]="formationform" (ngSubmit)="onSubmit()">

          <div class="row">

            <div class="col-md-6">

              <div class="form-group">
                <label >Titre de formation :</label>
                <input formControlName="titre" class="form-control" placeholder="titre" >
              </div>
              
              <div class="form-group">
                <label >Description :</label>
                <textarea  formControlName="description"  class="form-control" rows="1" placeholder="description"></textarea>
              </div>
<hr>
              <div class="form-group">
                <label f>Modèle certificat :</label>
                <input  formControlName="modele_certificat" class="form-control"  placeholder="modele certificat">
          
              </div>

              <div class="form-group">
                <label>Support :</label>
                <input type="text" formControlName="support"class="form-control" placeholder="support" >
              </div>
              <hr>

              <div class="form-group">
                <label >Formateur  :</label>
                      <select    class=" custom-select" formContorlName="formateur" >
                      <option selected disabled>selectioner un formateur</option>
                     <option value="1">formateur 1</option>
                     <option value="2">formateur 2</option>
                     <option value="3">formateur 3</option>
                </select>
                
               </div>
               
               <div class="form-group">
                <label >Organisateur  :</label>
                      <select class="form-control custom-select" formControlName="organisateur">
                      <option selected="" disabled="">selectioner un organisation</option>
                      <option  *ngFor="let item of items; let i = index" value={{item._id}}>
                       
                        {{item.name}}({{item.abreviation}})</option>
                     
                     
                </select>
  
               </div>

            </div>

            <div class="col-md-6">

             
              
            
             
              <div class="form-group">
               <label >
                Date  Depart  :
               </label>
               <input type="datetime-local" formControlName="date_depart" class="form-control" >
              </div>
              <div class="form-group">
                <label >
                 Date  Fin   :
                </label>
                <input type="datetime-local"   formControlName="date_fin" class="form-control"  >
              </div>

              

              <hr>
              <div class="form-group">
                <label >Pays :</label>
                <input type="text" formControlName="pays" class="form-control"  placeholder="pays">
              </div>
             
              <div class="form-group">
                <label >Ville :</label>
                <input type="text" class="form-control" formControlName="ville" placeholder="ville">
              </div>
              <hr>
              

              <div class="form-group">
                <label >Afficher</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file"  class="custom-file-input"   (change)="selectImage($event.target.files)">
                    <label class="custom-file-label"  >choisir un Affiche</label>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text"  (click)="sendfiletoserveur()" >telecharger</span>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="card-footer " >
            <button  class="btn btn-danger float-right" (click)="revert()" type="reset">  Annuler</button>
           
             <button type="submit" class="btn btn-primary float-right"   style="margin-right: 2px;" type="submit" [disabled]="formationform.invalid">
              <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin" style="position: relative;bottom: 1px;margin-right:5px;"></i> 
              Ajouter</button>
              
          </div>
        </form>

</div>
<p>Form value: {{ formationform.value | json }}</p>
<p>Form status: {{ formationform.status | json }}</p>  
    </div>
  </section>
