.nav-link{
    color:blanchedalmond !important
}
a:hover{
 
        color: gold;
      
}


    .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
        background-color: thistle;
        color:white;
    }



    body,html{
        scroll-behavior: smooth;
        margin: 0   !important;
        padding: 0   !important;
        width: 100%  !important;
        height: 100%  !important;
    }
.content{
       margin: 0;
        padding: 0;
        width: 100%;
        height: 92vh !important;
     
    }
    
    .content-bg{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-image:url("https://images.pexels.com/photos/442574/pexels-photo-442574.jpeg?cs=srgb&dl=apple-blank-business-computer-442574.jpg&fm=jpg");
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #container {
      width: 48px;
      height: 48px;
    }
    
    #container img {
      width: 100%;
    }
    
    .content-bg-cover {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .4);
      padding: 25px;
    }
    
    .content-title {
      margin: 182px 0 56px 0;
    }
    
    .content-title h1{
        color: white;
        font-weight: bold;
        font-size: 2.5em;
    }
    